@media (max-width: 1068px) {

    .data-card,
    .weather {
        position: static;
        width: 90%;
        margin: 1.5rem auto;
        box-shadow: var(--shadow-mobile);
    }
        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 5%;
            background-color: #000;
            color: #fff;
        }
footer {
        background-color: #000;
         color: #fff;
        }
}