* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}
 header {
     background-color: #520469;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10%;
     min-height: 80px;
 }
 #menu {
     display: none;
     font-size: 2.5rem;
     background: none;
     border: none;
     color: white;
     cursor: pointer;
     padding: 0.5rem;
 }

 .open li {
     display: block;
 }

 nav a {
     flex: 1 1 100%;
 }

header,
main {
    margin: 0px auto;
}

h1 {
    font-size: 2rem;
    color: #fff;
}

nav {
    background-color: #520469;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-direction: row;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {

    color: #04AA6D;
}
.open li {
    display: block;
}


h2{
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem; 
}
.stdlf {
    font-weight: 700;
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;          
}
section {
    margin: auto;
    max-width: 1500px;
    padding: 1.5rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    text-align: center;
    padding: 20px;
    grid-gap: 25px;
}
figure {
    background-color: #fff;
}

img {
width: 100%;
height: 250px;
object-fit: cover;
}

.hover:hover {
    box-shadow: 0 0 50px #333;
}

footer {
    background-color: #520469;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}




