* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color: #520469;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

header,
main {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    color: #fff;
}

nav {
    background-color: #520469;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {

    color: #04AA6D;
}

@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        min-height: 80px;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }
}
h2{
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
}
div.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15px;
    
}

div.gallery-item {
    margin: 10px;
    border: 1px solid #ccc;
    
}

div.gallery-item:hover {
    border: 1px solid #777;
    
}

div.gallery-item img {
    width: 100%;
}

div.gallery-item div.desc {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #520469;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}